*nc filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.VERSION.txt filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.cpg filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.dbf filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.prj filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.README.html filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.shp filter=lfs diff=lfs merge=lfs -text
ne_110m_coastline/ne_110m_coastline.shx filter=lfs diff=lfs merge=lfs -text
region_info.xlsx filter=lfs diff=lfs merge=lfs -text
